
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: rgb(7, 7, 7);
    /* background: linear-gradient(to bottom, rgb(135, 143, 153), rgb(155, 185, 236)); */
}
video{
    width: 100%;
}
.center_div{
    position: absolute;
    width: 45%;
    /* height: 100%; */
    margin-top: 10px;

}
.img{
    width: 80px;
}
.logo_text{
    font-weight: 1200;
    font-family: sans-serif;
    font-size: 40px;
    margin: 10px 0;
}
.isro_img_text{
    display: flex;
    font-size: 30px;
    font-weight: 700;
    align-items: center;
}
.isro_img_text img{
    width: 60px;
    animation: animate 0.3s ease infinite;
}
@keyframes animate{
    0%, 100%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
}
.isro_img_text span{
    color: rgb(13, 76, 186);
}
.based_search{
    background: rgb(13, 76, 186);
    /* height: 45px; */
    width: 100%;
    font-size: 25px;
    font-weight: 500; 
    border-radius: 20px;
    padding: 10px 30px;
    margin: 10px 0;
    text-align: left;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search_container{
    display: flex;
    width: 350px;
    height: 40px;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    outline: none;
    background: #fff;
}
.search_input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 14px;
    background: #fff;
    text-align: center;
}
.search_icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #000;
}
.radio{
    display: none;
}
.location_type{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    /* margin-top: 10px; */
}
.label{
    width: 100px;
    padding: 8px 10px;
    background-color: rgb(13, 76, 186);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    height: 100%;
    margin-right: 5px;
}
#city:checked ~ .city, 
#state:checked ~ .state,
#center:checked ~ .center{
    background-color: rgb(10, 147, 239);
}
table{
    margin-top: 15px;
}
th{
    background-color: rgb(13, 76, 186);
    color: #ffffff;
    width: 180px;
    padding: 10px ;
    text-align: left;
    font-size: 25px;
  }
  th:first-child{
    width: 400px;
  }
  tbody td{
    border: 1px solid rgb(13, 76, 186);
    padding: 10px;
    background: rgb(14, 47, 104);
    color: #fff;
    font-size: 20px;
  }